/* место для вашего кода */
/* указал значение чтоб сделать плавный скрол при нажатии на ссылку в меню навигации*/
html {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  margin: 92px 53px 93px 51px;
}

.header__links-list {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 32px;
  font-weight: 400;
  font-size: 18px;
  word-wrap: break-word;
  list-style-type: circle;
}

.header__link_active {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.header__logo {
  position: relative;
  left: -75px;
  width: 136px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.address-list {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-decoration: none;
  word-wrap: break-word;
}

.address-list a {
  text-decoration: none;
}

.address-link {
  border-bottom: 1px solid black;
}

.address {
  font-style: normal;
}

.cover {
  position: relative;
  width: 100%;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  gap: 20px;
  padding: 165px 50px 0px;
  color: white;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
  word-wrap: break-word;
}

.aligned-text {
  position: relative;
  top: 8px;
  display: block;
  margin-bottom: 20px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_center {
  top: 14px;
  left: 0px;
  text-align: center;
}

.aligned-text_right {
  top: 15px;
  text-align: right;
}

.cover__description {
  position: relative;
  top: 15px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
  padding-right: 50px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  word-spacing: 17px;
  text-wrap: nowrap;
}

.bet-button {
  position: relative;
  border: 1px solid white;
  padding: 11px 32px;
  outline: none;
  overflow: hidden;
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

.lots {
  margin: 180px 50px 212px 50px;
}

.lots__heading {
  display: inline-block;
  align-items: stretch;
  padding-bottom: 26px;
  padding-left: 40px;
  color: black;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  word-wrap: break-word;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  gap: 25px;
  list-style: none;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 430px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  margin: 50px 40px 0;
  color: white;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
  word-wrap: break-word;
}

.card__text {
  position: relative;
  z-index: 1;
  margin: 0 40px 50px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  word-wrap: break-word;
}

.lots__look-more-link {
  position: relative;
  top: 30px;
  left: 40px;
  border-bottom: 1px solid black;
  color: black;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  word-wrap: break-word;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  margin: 0 50px;
}

.about__logo {
  justify-self: center;
  align-self: start;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  margin: 63px 46px;
}

.about__main {
  position: relative;
  margin-top: 101px;
}

.about__title {
  margin-bottom: 99px;
  color: black;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  word-wrap: break-word;
}

.about__text {
  margin-bottom: 25px;
  color: black;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  word-wrap: break-word;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 155px 50px 90px 50px;
}

.footer .address-list {
  position: relative;
  top: 0px;
}

.footer__links-list {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;
  list-style-type: none;
}

.footer__link_active {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
  list-style-type: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}
